{% extends 'base.html.twig' %}

{% block title %}Hello PdfController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    {{ form_start{form, {
        'attr': {
            'data-turbo': false,
            'target': '_blank',
        }
    }} }}
    {{ form_row(form.url) }}
</div>
{% endblock %}
