{% extends 'base.html.twig' %}

{% block title %}Generate PDF{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'method': 'POST'}}) }}
    {{ form_row(form.url) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
